@model IEnumerable<Store.BLL.ModelsDTO.WaterDTO>
@{
    ViewBag.Title = "Home Page";
}


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<div class="loginData">
    <b>Login:</b> Ivashyn.vadym@gmail.com<br />
    <b>Password:</b> Ivashyn_1995
</div>

<div class="row col-lg-offset-1">
    @foreach (var water in Model)
    {
        <a href="Home/MakeOrder/?waterId=@water.Id" class="waterItem">
            <div class="col-md-3 waterBottle">
                <img src="~/Content/Images/water/@water.ImageName" />
                <div class="description row">
                    <div class="pull-left">
                        @water.Provider
                    </div>
                    <div class="pull-right price">
                        @water.Price uah
                    </div>
                </div>
            </div>
        </a>
    }
</div>



@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".waterItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });

            $(".waterBottle").click(function (e) {

            });
        })
    </script>
}